.img-i{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 19px;
  cursor: pointer;
  height: 100px;
  width: 110px;
  min-height: 80px;
  min-width: 80px;
  transition: transform .2s; /* Animation */
}
.img-i:hover {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */

}
.cantidades{
  font-family: 'Muli-Regular';
  font-size: 15px;
  font-weight: 200;
  color:#4b0207;
}
.select-2 {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
margin-top: 2px;
text-overflow: '';
text-indent: 0.01px;
border-radius: 0px!important;
}


.select-2{
font-family: 'Muli', sans-serif;
font-size: 12px;
font-weight: 400;
color: #BFBFC2;
padding: 2px;
border: none;
outline: none;
border: .5px double transparent;
background-color: #ececec;
}
.select-input-2 {
position: relative;
display: inline-block;
margin-right: 10px;
}

.select-input-2 select {
width: 100%;
}
.select-input-2:first-of-type {
width: 100%;
}
.select-input-2 {
width: 100%;
margin-right: 6px;
}
.flecha{
    color: #2D2D30;
    pointer-events: none;
    position: absolute;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    right: 8px;
    top: 39%;
    font-size: 9px;
}
