# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

resources/aplicaciones/*
WEB-INF/Classes/PHPMailer/*
WEB-INF/..01_BODEGAS_DE_COLECCION_KALUZ_22.11.23.pdf
WEB-INF/..Archivocompartido.pdf
WEB-INF/..ColeccionKaluz-febreroWORD.pdf
WEB-INF/..compartido.pdf
WEB-INF/..MujeresyarteenMexico1920-1940.pdf
WEB-INF/..ToniRegalado.PublicidadUrbanaEjemplo.pdf
vista/apps/AcuerdosEscritos/libreria/*
vista/apps/AcuerdosEscritos/firma/*
vista/apps/AcuerdosEscritos/firmaspdf/*
vista/apps/AcuerdosEscritos/imagenesacuerdos/*
vista/apps/AcuerdosEscritos_copia/*
vista/apps/ContratoApp/*
vista/apps/EncuestasApp/*
vista/apps/ExposicionTemporal/*
vista/apps/Piezas/*
vista/apps/Publicaciones/*
vista/apps/Planeacion/*
source/*
resources/video/index.php
resources/pdfEje/index.html
resources/pdf/*
resources/img*
resources/icon/*
resources/font/*
resources/css/*
vista/adminSistema/*
vista/apps/PersonaApp/*
vista/apps/SIEG/*
vista/apps/SIEG2/*
vista/Asuntos_portada/*
vista/graficasPortada/*
vista/apps/kpi/*
vista/apps/OpinionesAntesB/*
vista/apps/Opiniones/*
vista/apps/Permanente/*
vista/apps/rolinstitucion/*
vista/apps/rol/*
vista/apps/rolpersona/*
vista/apps/Seguridad/*
vista/apps/SeguridadApp/*